:root {
  --primary-color: #3f3f3f;
  --secondary-color: #9a0000;
  --secondary-complement: #cc3100;
  --accent-color: #9fa8df;

  /* Text colors */
  --primary-text-color: white;
  --secondary-text-color: #650000;
  --accent-text-color: #505c8d;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-color);
}
